
/* THIS WEBSITE IS DESIGNED BY UĞUR TAŞDAN */

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}


body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.wrap{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 14px 0;
}

nav .wrap ul{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}

nav ul li{
  display: inline-block;
  color: #ddd;
  font-size: 1.25em;
}

/* FIRST PAGE CSS */

#first-page {
  overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url('body-background.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#first-page .button-chevron{
  text-align: center;
}

#name{
    display: inline-block;
    margin:auto;
    font-size: 7em;
    color: #ddd;
    letter-spacing: 0.2em;
}

#name > p{
    display: inline-block;
    animation: tiktok 0.5s linear infinite;
}

.chevron{
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.chevron > i{
  font-size: 5em;
    color: #ddd;
    cursor: pointer;
}

.menu-li{
    color: #ddd;  
    cursor: pointer;
    margin: 0 25px;
}

.menu-li > i{
    font-size: 2em;
}

.menu-li:hover{
    color: rgb(184, 184, 184)
}

@keyframes tiktok
{
    0%
    {
        text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
    }
    25%
    {
        text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
    }
    50%
    {
        text-shadow: 1.5px -1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
    }
    75%
    {
        text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
    }
    75%
    {
        text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
    }
}

@media only screen and (max-width: 875px) {
    #name {
        font-size: 5em;
    }
  }

@media only screen and (max-width: 600px) {
    #name {
        font-size: 3em;
    }
  }

  @media only screen and (max-width: 375px) {
    #name {
        font-size: 2em;
    }
  }
  
  .button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: inline-block;
    border: .2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    color: #FFF;
    margin: 140px 0;
  }
  .button__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .button__text:before {
    content: attr(title);
  }
  .button__text--bis {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  .button__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: translateX(-100%) rotate(45deg);
            transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }
  
  .button:hover {
    opacity: 1;
  }
  .button:hover .button__text {
    -webkit-animation: fx-text .3s ease-out;
            animation: fx-text .3s ease-out;
  }
  .button:hover .button__text--bis {
    -webkit-animation: fx-text-bis .3s ease-out;
            animation: fx-text-bis .3s ease-out;
  }
  .button:hover .button__mask {
    -webkit-animation: fx-mask .3s ease-out;
            animation: fx-mask .3s ease-out;
  }
  
  .button:active {
    opacity: 1;
    background: white;
    color: inherit;
  }
  
  @-webkit-keyframes fx-mask {
    0% {
      -webkit-transform: translateX(-100%) rotate(45deg);
              transform: translateX(-100%) rotate(45deg);
    }
    100% {
      -webkit-transform: translateX(100%) rotate(45deg);
              transform: translateX(100%) rotate(45deg);
    }
  }
  
  @keyframes fx-mask {
    0% {
      -webkit-transform: translateX(-100%) rotate(45deg);
              transform: translateX(-100%) rotate(45deg);
    }
    100% {
      -webkit-transform: translateX(100%) rotate(45deg);
              transform: translateX(100%) rotate(45deg);
    }
  }
  @-webkit-keyframes fx-text {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1em);
              transform: translateX(1em);
      opacity: 0;
    }
  }
  @keyframes fx-text {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1em);
              transform: translateX(1em);
      opacity: 0;
    }
  }
  @-webkit-keyframes fx-text-bis {
    0% {
      -webkit-transform: translateX(-1em);
              transform: translateX(-1em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fx-text-bis {
    0% {
      -webkit-transform: translateX(-1em);
              transform: translateX(-1em);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  #return-to-top {
    z-index: 2;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 2px solid #ddd;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
}


/* SECOND PAGE CSS */

#second-page {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: #bdc3c7;
    position: relative;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #202020, #010001);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #202020, #010001);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-about-me{
    display: inline-block;
    min-width: 400px;
    min-height: 600px;
    max-width: 600px;
    max-height: 800px;
    
}

.card-about-me > ul{
    margin-top: 10%;
}

.card-about-me > h1{
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    margin-top: 120px;
}

.card-about-me > h1,ul{
    color: #dddddd;
}

.card-about-me > ul > li{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    padding: 0 30px;
}

/* SUB PAGE CSS */

#sub-page{
    width: 100vw;
    height: 100vh;
    background: url('sub-page-1.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}


/* THIRD PAGE CSS */

#third-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #0a0202;
}

.portfolio{
    font-size: 4em;
    display: inline-block;
    margin-top: 120px;
    color: rgb(248, 248, 248);
    font-family: 'Roboto Mono', monospace;

}

h1{
    letter-spacing: 0.1em;
}

#third-page .content-portfolio{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flip-card {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 400px;
    perspective: 600px;
    margin-top: 50px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: #bbb;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: black;
    height: 300px;
  }

  .flip-card-front img{
    width: 100%;
    height: 100%;
  }
  
  .flip-card-back {
    background-color: #202020;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flip-card-back p{
    padding: 10px;
  }

.flip-card-front>span{
    padding: 12px;
    display: block;
    color: rgb(29, 29, 29);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 900;
}

.second-page-div{
  height: 91%;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

#third-page{
  padding: 160px 0 0 0;
text-align: center;
}

#third-page h1{
  margin: 0 0 20px 0;
}


/* SUB PAGE CSS */

#second-sub-page{
  overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background: url('keyboard.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/* FORTH PAGE CSS */

#forth-page{
    width: 100%;
    min-height: 600px;
    height: 100vh;
    background: #222130;
    overflow: hidden;
}

.forth-page-chevron{
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
}

.inner-forth-page{
  width: 100%;
  text-align: center;
}

.inner-forth-page > h1{
  margin-top: 120px;
  font-size: 4em;
  font-family: 'Lora', serif;
  display: inline-block;
}

.inner-forth-page > p{
  margin-top: 120px;
}



.inner-forth-page > h1{
  font-family: 'Muli', sans-serif;
  color: #F6F6F6;
  font-weight: 900px;
}

.inner-forth-page > p{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 400px;
  color: #bbb;
}

.outer-button{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button{
  margin-top: 200px;
  padding: 10px 60px;
  text-transform: uppercase;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  background: transparent;
  border: 2px solid white;
  font-size: 1.5em;
  color: white;
}

button:hover{
  background: #FFF;
  color: #010001;
  border: 1px solid #1a1313;
  transition: 0.5s;
}

/* SUB PAGE CSS */

#third-sub-page{
    width: 100vw;
    min-height: 100vh;
    background: url('code.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/* FIFTH PAGE CSS */

#fifth-page{
    width: 100%;
    height: 100vh;
    background: #000000;
    overflow-y: hidden;
}

#fifth-page::-webkit-scrollbar { 
  display: none; 
}

.inner-fifth-page{
  width: 100%;
  height: 80vh;
  text-align: center;
  position: relative;
}

.title-fifth-page > h1{
  color: #ddd;
  font-size: 4em;
  margin-top: 120px;
}

.title-fifth-page > p{
  color: #ddd;
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 100px;
}

.social{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

.social a{
  padding: 0 30px;
}

.title-fifth-page{
  display: inline-block;
  width: 100%;
  min-height: 65vh;
}

.copyright-designed-by{
  width: 100%;
  position: relative;
  color: #ddd;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  height: 5vh;
}

.inner-copyright-designed-by{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.fa-github{
  color: #ddd;
  font-size: 3em;
  padding: 10px;
}
.fa-discord{
  color: #ddd;
  font-size: 3em;
  padding: 10px;
}
.fa-steam{
  color: #ddd;
  font-size: 3em;
  padding: 10px;
}
.fa-envelope{
  color: #ddd;
  font-size: 3em;
  padding: 10px;
}

#github{
  border: 4px solid #ddd;
  display: inline-block;
  margin-left: 8px;
}

#discord{
  border: 4px solid #ddd;
  display: inline-block;
}

#steam{
  border: 4px solid #ddd;
  display: inline-block;
}

#mail{
  border: 4px solid #ddd;
  display: inline-block;
}

#github:hover{
  background-color: #ddd;
  transition: 0.5s;
}

#github:hover .fa-github{
  color: #010001;
  cursor: pointer;
}

#mail:hover{
  background-color: #ddd;
  transition: 0.5s;
}

#mail:hover .fa-envelope{
  color: #CF4738;
  cursor: pointer;
}

#steam:hover{
  background-color: #ddd;
  transition: 0.5s;
}

#steam:hover .fa-steam{
  color: #010001;
  cursor: pointer;
}

#discord:hover{
  background-color: #ddd;
  transition: 0.5s;
}

#discord:hover .fa-discord{
  color: #6C8AF1;
  cursor: pointer;
}

li{
  list-style-type: none;
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 950px) {
  .flip-card{
    margin: 0px;
    margin-bottom: 20px;
  }
  .portfolio{
    font-size: 2em;
    margin-bottom: 120px;
  }
  #return-to-top{
    display: none !important;
  }
}

@media(max-width: 1200px){
  #forth-page .inner-forth-page p{
    padding: 0 20px;
  }
  #second-page{
    min-height: 150vh;
  }
}


@media(max-width: 800px){
  .social{
    justify-content: space-around;
  }
  .social a{
    padding: 0;
  }
  #github{
    border: 4px solid #ddd;
    display: inline-block;
    margin-left: 8px;
  }
  #third-page .content-portfolio{
    flex-direction: column;
    align-items: center;
  }
  #third-page .content-portfolio .flip-card{
    margin: 40px 0;
    max-width: 70%;
  }
  .menu-li i{
    font-size: 1.35em;
  }
  .btn-cont{
    padding-bottom: 260px;
  }
  .inner-copyright-designed-by span{
    font-size: 12px;
  }
  #sub-page{
    width: 100%;
  }
  #second-sub-page{
    width: 100%;
  }
  #third-sub-page{
    width: 100%;
  }
  nav{
    right: 0.5px;
  }
}

@media(min-width:380){
  #github{
    padding-left: 8%;
  }
}

@media(min-width: 801px) and (max-width: 1100px){
  #third-page .content-portfolio{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #third-page .content-portfolio .flip-card{
    margin: 40px 0;
    max-width: 42%;
  }
}

@media(max-width: 1300px){
  #third-page .content-portfolio{
    max-width: 90%;
  }
  #fifth-page .title-fifth-page p{
    padding: 0 20px;
  }
  #third-page .content-portfolio .flip-card:last-child{
    margin-bottom: 100px;
  }
  .card-about-me:last-child{
    padding-bottom: 160px;
  }
}

/* MOBILE LOOK */

@media(max-width:800px){
    body{
      overflow: hidden;
    }
}